.notification-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.126);
  z-index: 1000;

  .notification-modal-content {
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 0 1rem;
    }
    main {
      border: 0.95px solid #ffffff26;
      box-shadow: 0px 24px 28px 0px #06060669;
      border-radius: 24px;
      background: #0a0d15;
      width: 500px;
      margin-left: auto;
      margin-top: 80px;
      padding: 24px;

      @media (max-width: 768px) {
        width: 100%;
        margin-top: 76px;
        padding: 1rem 0.5rem;
        min-height: max-content;

        .title {
          h3 {
            font-size: 20px;
          }
        }
      }
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
          padding: 0 1rem;
        }

        h3 {
          font-family: 'TuskerGrotesk-Medium-5500';
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          text-align: left;
          color: #fff;
        }
      }

      .notifications-list {
        background: #12141b;
        border-radius: 12px;
        min-height: 200px;
        margin-top: 1rem;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 768px) {
          gap: 8px;
        }

        .empty-state {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: auto;
          gap: 1rem;

          img {
            width: 42px;
          }
        }
        .notification-item {
          position: relative;
          display: flex;
          align-items: center;
          gap: 12px;
          background: #1c1e26;
          padding: 8px 12px;
          border-radius: 60px;

          @media (max-width: 768px) {
            gap: 8px;
            padding: 8px;
          }
          .arrow-right {
            display: none;
          }
          &:hover {
            cursor: pointer;

            .arrow-right {
              border-radius: 60px;
              background: #1c1e26;
              display: flex;
              position: absolute;
              right: 1rem;
              width: 50px;
              height: 100%;
              align-items: center;
              justify-content: center;
              transition: all 0.4s linear;

              img {
                width: 14px;
              }

              @media (max-width: 768px) {
                right: 0;
                width: 50px;
              }
            }
          }
          .challenger-image {
            min-width: 40px;
            max-width: 40px;
            box-shadow: -3px 3px 0px 0px #c1272d;
            min-height: 40px;
            max-height: 40px;
            border-radius: 50%;
            overflow: hidden;
            object-position: top;
            object-fit: cover;

            @media (max-width: 768px) {
              width: 32px;
              height: 32px;
            }
          }

          .notification-details {
            display: flex;
            flex-direction: column;
            gap: 0px;

            h4 {
              font-family: 'Unbounded', sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              color: #fff;
            }
            p {
              color: #ffffffb2;
              font-size: 14px;
            }
          }
          .amount {
            color: #e27625;
            font-family: 'Unbounded', sans-serif;
            font-size: 12px;
            margin-left: auto;
            padding-right: 0.5rem;
          }

          @media (max-width: 768px) {
            padding: 8px;

            .notification-details {
              h4 {
                font-size: 12px;
                line-height: normal;
              }
              p {
                margin-top: 2px;
                font-size: 10px;
              }
            }
            .amount {
              padding-right: 0.2rem;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
