.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: rgba(11, 13, 18, 0.97);
  transition: all 0.4s linear;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .modal-content {
    background: url(../../../assets/images/modal-content-bg.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 553px;
    padding: 50px;
    padding-bottom: 69px;
    margin: auto;
    z-index: 1111;

    // .background-shape {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   background-color: rgba(26, 25, 25, 0.02) !important;

    //   border-radius: 30px; // Rounded corners on all sides
    //   clip-path: polygon(
    //     8% 0%,
    //     95% 0%,
    //     100% 0%,
    //     100% 95%,
    //     95% 100%,
    //     0% 100%,
    //     0% 90%,
    //     0% 8%
    //   ); // Diagonal cuts for the shape
    //   box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1); // Optional shadow for depth
    //   z-index: -1; // Send it behind the content
    // }

    .title {
      color: #fff;
      text-align: center;
      font-family: 'TuskerGrotesk-Medium-6500';
      font-size: 24px;
      font-style: normal;
      line-height: normal;
    }

    .share-link {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      p {
        color: #fff;
        text-align: center;
        font-family: 'ABC-Diatype';
        font-size: 16px;
        font-style: normal;
        line-height: normal;
      }

      .link-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem 12px;
        border-radius: 8.753px;
        border: 1px solid rgba(255, 255, 255, 0.07);
        background: rgba(255, 255, 255, 0.05);

        .link {
          color: rgba(255, 255, 255, 0.4);
          font-family: 'ABC-Diatype';
          font-size: 16px;
          font-style: normal;
          line-height: normal;
        }

        .btn {
          padding: 0.5rem 1rem;
          border-radius: 8.753px;
          border: 1px solid rgba(255, 255, 255, 0.07);
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .scan-qrcode {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      p {
        color: #fff;
        text-align: center;
        font-family: 'ABC-Diatype';
        font-size: 16px;
        font-style: normal;
        line-height: normal;
      }
    }

    .close-modal-btn {
      margin: 0 auto;
      margin-top: 69px;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-family: 'ABC-Diatype';
      font-size: 16px;
      font-style: normal;
      line-height: normal;
    }
  }
}
