$color-primary: #4f46e5;
$color-secondary: #22c55e;
$color-accent: #f97316;

$color-white: #ffffff;
$color-black: #000000;

$gray-50:  #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;


$color-success: #21D148;
$color-warning: #facc15;
$color-error:   #dc2626;
$color-info:    #0ea5e9;
