.trade-widget {
  background-image: url('../../../assets/images/trade-widget-bg.svg');
  background-repeat: no-repeat;
  min-width: 445px;
  min-height: 724px;

  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 38px 45px;
  display: flex;
  flex-direction: column;
  position: relative;

  .trade-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buy-sell-tabs {
      display: flex;
      gap: 1rem;

      .tab {
        border-radius: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        font-family: 'TuskerGrotesk-Medium-4500';
        font-size: 24px;

        &.active {
          color: #fff;
        }
      }
    }

    .order-types {
      position: relative;
      display: flex;
      padding: 3px 4px;
      gap: 4px;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.12);
      border-radius: 6px;
      width: fit-content;

      .order-toggle {
        position: relative;
        z-index: 2;
        border: none;
        background: transparent;
        color: #a4a4a4;
        font-size: 14px;
        cursor: pointer;
        padding: 0 16px;
        height: 26px;
        transition: color 0.25s ease;

        &.active {
          color: #080b11;
        }
      }

      .slider {
        position: absolute;
        top: 4px;
        left: 4px;
        height: 26px;
        width: calc(50% - 4px);
        background: #ffffff;
        border-radius: 4px;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1;
      }

      &.market .slider {
        transform: translateX(100%);
      }

      &.limit .slider {
        transform: translateX(0);
      }
    }
  }

  .outcome-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;

    .outcome-photo {
      width: 36px;
      height: 32px;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
    }

    .outcome-name {
      font-size: 18px;
      font-family: 'Blanc-Groove-Regular';
      color: #ffffff;
    }
  }

  .trade-form {
    margin-top: 24px;
    padding: 16px 20px;
    background: #080b11;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    label {
      display: block;
      font-family: 'Blanc-Groove-Regular';
      font-size: 14px;
    }

    .outcome-select {
      display: flex;
      flex-direction: column;

      .outcome-buttons {
        margin-top: 12px;
        display: flex;
        gap: 12px;

        .outcome-button {
          flex: 1;
          border: none;
          border-radius: 8px;
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 14px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 52px;
          transition: all 0.2s linear;

          &.yes {
            background-color: #191f2a;
            color: rgba(255, 255, 255, 0.4);
          }

          &.yes.selected {
            background-color: #25af60;
            color: #fff;
          }

          &.no {
            background-color: #191f2a;
            color: rgba(255, 255, 255, 0.4);
          }

          &.no.selected {
            background: #d62634;
            color: #fff;
          }

          &.selected {
            opacity: 1;
          }
        }
      }
    }

    .input-section {
      margin-top: 18px;
      display: flex;
      flex-direction: column;

      .input-group {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px;
        gap: 10px;
        width: 100%;
        height: 56px;
        background: rgba(255, 255, 255, 0.02);
        border: 1px solid rgba(255, 255, 255, 0.07);
        border-radius: 16px;
        position: relative;

        button {
          background: none;
          border: none;
          color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.07);
          border-radius: 8px;
          cursor: pointer;

          .minus {
            width: 12px;
            height: 1.5px;
            background: rgba(255, 255, 255, 0.4);
          }
        }

        input {
          flex: 1;
          background: none;
          border: none;
          color: rgba(255, 255, 255, 0.4);
          font-family: 'ABC-Diatype';
          font-size: 16px;
          text-align: center;
          max-width: 160px;
        }
      }
    }
  }

  .total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

    label {
      font-size: 14px;
    }

    span {
      font-size: 16px;
      font-family: 'Blanc-Groove-Semibold';
    }
  }

  .expiry-section {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 14px;
      font-family: 'Blanc-Groove-Regular';
      color: rgba(255, 255, 255, 0.75);
    }

    .expiry-toggle {
      background: none;
      border: none;
      color: #fff;
      font-family: 'Blanc-Groove-Medium';
      font-size: 14px;
      cursor: pointer;
      opacity: 0.7;
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .to-win-section {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    label {
      font-size: 14px;
      font-family: 'Blanc-Groove-Regular';
      color: rgba(255, 255, 255, 0.75);
    }

    .profit {
      color: #21d148;
      opacity: 0.75;
      font-family: 'Blanc-Groove-Semibold';
      font-size: 16px;
    }
  }

  .balance-display {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .balance-label {
      font-size: 14px;
      font-family: 'Blanc-Groove-Regular';
      color: rgba(255, 255, 255, 0.75);
    }

    .balance-value {
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Blanc-Groove-Semibold';
      font-size: 14px;
    }
  }

  .action-button {
    margin-top: auto;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-family: 'Blanc-Groove-Semibold';
    font-size: 18px;
    cursor: pointer;
  }

  .expiry-modal {
    padding: 1rem;
    background: #0d1016;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    right: -50px;
    bottom: -40px;

    button {
      border: none;
      color: rgba(255, 255, 255, 0.4);
      font-size: 16px;
      font-family: 'ABC-Diatype';
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .chart-section {
    .chart-placeholder {
      height: 100px;
      background-color: #222;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    .time-selectors {
      display: flex;
      justify-content: space-around;

      button {
        background: #222;
        border: none;
        color: #888;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}