.markets-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1360px;
  background-color: #080b11;
  margin: 0 auto;
  margin-top: 124px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  .markets-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    height: max-content;
    overflow: hidden;

    .market-tabs {
      display: flex;
      gap: 1rem;
      flex-basis: 70%;
      overflow: auto;

      scrollbar-width: none;

      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .market-tab {
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 0px 16px;
        height: 30px;
        min-width: max-content;
        border: 1px solid rgba(42, 75, 124, 0.2);
        border-radius: 30px;
        color: #757880;
        font-family: 'ABC-Diatype';
        font-size: 14px;
        text-transform: uppercase;
        transition: border-color 0.3s, color 0.3s;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: #2a7c3c21;
          color: #21d148;
        }
      }
    }

    .divider {
      max-width: 1px;
      height: 36px;
      background-color: rgba(42, 75, 124, 0.2);
      flex-basis: 5%;
    }
    .search-bar {
      margin-left: auto;
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-basis: 35%;

      .search {
        position: relative;
        min-width: calc(100% - 108px);

        input {
          width: 100%;
          height: 36px;
          padding: 0 16px 0 36px;
          border: 1px solid rgba(42, 75, 124, 0.2);
          border-radius: 18px;
          // background: rgba(255, 255, 255, 0.05);
          color: #ffffff;
          font-size: 14px;

          &::placeholder {
            color: #75788094;
          }
        }

        .search-icon {
          position: absolute;
          left: 0.8rem;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          pointer-events: none;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border: 1px solid rgba(42, 75, 124, 0.2);
        border-radius: 36px;
        cursor: pointer;

        &.active {
          background-color: #2a7c3c21;

        }
      }
    }
  }

  .markets-body {
    display: flex;
    min-height: calc(100vh - 250px);

    .markets-category-sidebar {
      width: 296px;
      margin-right: 3rem;
      border-right: 1px solid rgba(42, 75, 124, 0.2);
      min-height: 100%;

      .sub-categories {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 3rem;

        li {
          display: flex;
          align-items: center;
          padding: 0 12px;
          height: 36px;
          border-radius: 8px;
          color: #757880;
          font-family: 'Blanc-Groove-Medium';
          font-size: 12px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;

          &.active,
          &:hover {
            background-color: #fff;
            color: #171717;
            transition: background-color 0.3s, color 0.3s;

            div {
              background-color: #c1272d;
              color: #fff;
            }
          }
          &:hover {
            background-color: #ffffff1b;
            color: #757880;
          }

          div {
            margin-left: auto;
            background-color: #2a7c3c21;
            border-radius: 24px;
            height: 20px;
            width: 20px;
            font-family: 'ABC-Diatype';
            font-size: 10px;
            border-radius: 24px;
            transition: width 0.5s linear;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .coins {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(42, 75, 124, 0.2);
      }
    }
    .market-cards-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
      gap: 1.5rem;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 768px) {
    .market-cards-grid {
      grid-template-columns: 1fr;
    }
  }
}
