.overview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 100px;

  @media (max-width: 768px) {
    background: #0a0d15;
    background-image: none;
  }

  .overview-content {
    width: 100%;
    max-width: 1460px;
    margin: 2rem auto;
    padding: 0 50px;

    @media (max-width: 1024px) {
      margin: 2rem auto;
      padding: 0 1.5rem;
    }
    @media (max-width: 768px) {
      margin: 1.5rem auto;
      padding: 0 1.5rem;
    }

    .dashboard-stats {
      position: relative;
      display: flex;
      gap: 1.5rem;
      background-repeat: no-repeat;
      background: hsla(224, 35%, 6%, 0.8);
      background-position: center;
      background-size: cover;
      // background: rgba(10, 13, 21, 0.8);
      border: 1px solid hsla(0, 0%, 100%, 0.15);
      box-shadow: 0px 0px 42.253px 0px rgba(255, 255, 255, 0.13) inset;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 2rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background: rgba(255, 255, 255, 0.024); // Border color
        clip-path: inherit;
        z-index: 1;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0.5px;
        left: 0.5px;
        right: 0.5px;
        bottom: 0.5px;
        background: rgba(15, 18, 26, 0.3); // Main background color
        clip-path: polygon(
          20px 0.5px,
          calc(100% - 20px) 0.5px,
          calc(100% - 0.5px) 20px,
          calc(100% - 0.5px) calc(100% - 20px),
          calc(100% - 20px) calc(100% - 0.5px),
          20px calc(100% - 0.5px),
          0.5px calc(100% - 20px),
          0.5px 20px
        );
        z-index: 2;
        pointer-events: none; /* Prevent ::after from blocking clicks */
      }

      .corner-top-left {
        position: absolute;
        top: 0;
        left: 0;
      }
      .corner-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .corner-top-right {
        position: absolute;
        top: 0;
        right: 0;
      }
      .corner-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 11;
      }
      .rectangle-left {
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        left: 0;
      }
      .rectangle-right {
        position: absolute;
        top: 8%;
        transform: translateY(25%);
        right: 0;
      }
      @media (max-width: 768px) {
        box-shadow: 0px 0px 22.253px 0px rgba(255, 255, 255, 0.13) inset;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.8rem;
        row-gap: 1rem;
        padding: 1.5rem 1rem;

        .rectangle-right {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }

      .stats {
        z-index: 4;
        flex-basis: 25%;
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: #fff;

        @media (max-width: 768px) {
          padding: 1rem;
          background: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(255, 255, 255, 0.09);
          clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 22px),
            calc(100% - 22px) 100%,
            0 100%
          );
          z-index: 1;
        }

        &::after {
          content: '';
          position: absolute;
          top: 1px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          background: #0f121abf !important;
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 22px),
            calc(100% - 22px) 100%,
            0 100%
          );
          z-index: 1;
        }

        .title,
        .value {
          position: relative;
          z-index: 2;
        }
        .title {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          z-index: 2;
          display: flex;
          align-items: center;
          gap: 10px;

          @media (max-width: 768px) {
            font-size: 14px;
            gap: 4px;
          }

          @media (max-width: 568px) {
            font-size: 12px;
          }

          img {
            width: 24px;

            @media (max-width: 568px) {
              width: 1rem;
            }
          }
        }

        .value {
          margin-top: 1.5rem;
          font-family: 'TuskerGrotesk-Medium-5500';
          font-size: 48px;
          font-weight: bold;
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
          z-index: 2;

          @media (max-width: 768px) {
            text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
            font-size: 32px;
          }
        }
      }
    }

    .tabs-container {
      margin-top: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-height: max-content;

      @media (min-width: 768px) {
        position: relative;
      }
      @media (max-width: 768px) {
        margin-top: 64px;
      }
      .tabs {
        display: flex;
        gap: 1.5rem;

        .tab {
          color: rgba(255, 255, 255, 0.5);
          font-family: 'TuskerGrotesk-Medium-4500';
          font-size: 32px;
          font-style: normal;
          line-height: normal;
          cursor: pointer;

          @media (max-width: 768px) {
            font-size: 24px;
          }
        }
        .tab-active {
          color: #fff;
        }
        #live-bet {
          display: flex;
          align-items: center;
          gap: 1rem;

          @media (max-width: 768px) {
            font-size: 24px;
          }
          img {
            width: 24px;

            @media (max-width: 768px) {
              width: 20px;
            }
          }
        }
      }
      #new-kombat-btn {
        padding-bottom: 67px;
        position: absolute;
        bottom: -50%;
        right: 0;
        transform: translate(25%, 72%);

        @media (max-width: 768px) {
          position: fixed;
          bottom: 0.5rem;
          left: 50%;
          transform: translate(-100%, 72%);
          z-index: 1111;
        }

        &:hover {
          button {
            transform: scale(0.98);
            transform: all 0.4s linear;
          }
        }
        button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 20px 1.5rem;
          color: #fff;
          font-family: 'Unbounded', sans-serif;
          font-weight: 500;
          font-size: 1rem;

          .btn-text {
            position: absolute;
            left: 50%;
            top: 2.4rem;
            transform: translate(-50%, -1.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 20px 1.5rem;
            font-family: 'Unbounded', sans-serif;
            font-weight: 500;
            font-size: 14px;
            width: max-content;

            @media (max-width: 768px) {
              font-size: 12px;
              transform: translate(-50%, -1.4rem);
            }
          }
        }
      }
    }
  }
}
.p2p-background-grid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  @media (max-width: 768px) {
    display: none;
  }
}
