.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  background-color: transparent;
  background: #0a0d15;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 3;
  @media (max-width: 768px) {
    padding: 0rem !important;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 1.5rem 50px !important;
    background: transparent;
    position: relative;

    @media (max-width: 1024px) {
      padding: 1.5rem 1.5rem !important;
    }
    @media (max-width: 768px) {
      padding: 1.2rem 1.5rem !important;
    }
    @media (max-width: 468px) {
      padding: 1.2rem 1.5rem !important;
    }

    .logo {
      max-width: 150px;
    }
    .nav-links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      gap: 1.5rem;

      @media (max-width: 768px) {
        display: none;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        height: 40px;
        border: 1px solid transparent;
        svg {
          display: none;
        }
      }
      a.active {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: #0e1119;
        box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
        transition: all 0.4s linear;
        svg {
          display: flex;
        }
      }
      a:hover {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: #0e1119;
        box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
        transition: all 0.2s linear;
      }

      #active-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(1rem);
      }
    }

    .authentication {
      display: flex;
      gap: 1rem;

      button {
        height: 40px;
        padding: 0 24px;
        border-radius: 8px;
        transition: all 0.4s linear;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Blanc-Groove-Semibold';

        &#login-btn {
          background: #090d14;
          box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.1);
        }
        &#signup-btn {
          background: #180406;
          border: 1px solid rgba(255, 255, 255, 0.05);
          box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.1);
        }
      }
      @media (max-width: 768px) {
        display: flex;
        gap: 0.5rem;
      }
    }

    .cta {
      display: flex;
      align-items: center;
      gap: 1rem;
      @media (max-width: 768px) {
        gap: 0.5rem;
      }
      .wallet-balance,
      .fund-wallet-btn {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.05);

        background: #090d14;
        box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
        padding: 0.5rem 12px;
        color: #fff;
        font-family: 'Blanc-Groove-Medium';
        font-size: 14px;
        height: 40px;
        cursor: pointer;

        @media (max-width: 768px) {
          height: 32px;
          font-size: 14px;
        }
      }
      .fund-wallet-btn {
        height: 40px;
        border-radius: 8px;
        background: #180406;
        box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
        position: relative;
        svg {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
        span {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #d62634;
          position: absolute;
          top: 0.5rem;
          right: 0.7rem;
          transform: translate(20%, -20%);
          font-size: 8px;
          font-family: 'ABC-Diatype';
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .profile-settings-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        @media (max-width: 768px) {
          display: none;
        }
        #user-icon {
          min-width: 32px;
          min-height: 32px;
          max-width: 32px;
          max-height: 32px;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
        }
        #drop-down {
          width: 20px;
        }
      }
      .wallet-balance {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      .menu-icon {
        display: none;
        @media (max-width: 768px) {
          display: flex;
          margin-left: 4px;
        }
      }
    }

    .profile-settings-modal {
      width: 350px;
      margin-top: 80px;
      margin-left: auto;
      border-radius: 22.826px;
      border: 0.951px solid rgba(255, 255, 255, 0.15);
      background: #0a0d15;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'TuskerGrotesk-Medium-5500';
      font-size: 20px;
      font-style: normal;
      line-height: 150%;
      z-index: 1111;

      .nav-links-mobile {
        display: none;
      }
      @media (max-width: 768px) {
        padding: 1rem 1.5rem;
        margin: 0 auto;
        margin-top: 70px;
        width: 100%;
        .nav-links-mobile {
          display: flex;
          align-items: flex-start;
          gap: 1rem;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            width: 100%;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            line-height: normal;

            svg {
              display: none;
            }
          }
          a.active {
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: #0e1119;
            box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
            transition: all 0.4s linear;
            svg {
              display: flex;
            }
          }

          #active-shadow {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(1rem);
          }
        }
      }
    }
  }
}
